@page "{productId:int}"
@model WebApp.Pages.Products.InfoModel
@{
    ViewData["Title"] = "Extended Product Info";
}

<div class="container">
    <div class="row">
        <div class="col-lg">
            <img class="img-rounded" src="data:image;base64,@System.Convert.ToBase64String(Model.Products.ProductImages.Image)" width="550" height="450" />
        </div>
        <div class="col-lg">
            <h3>Product Info</h3>
            <ul>
                <li>
                    @Model.Products.Brand.Name
                    @Model.Products.Name
                </li>
                <li>
                    @Model.Products.ProductType.Name
                </li>
                <li>
                    Price: @Model.Products.Price
                </li>
            </ul>
            <a class="btn btn-primary">Buy now</a>
        </div>
        
    </div>
</div>

