@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-5">Welcome to my Shop</h1>
    <img src="img/cat_salesman.jpg" alt="cat salesman" width="600" height="600">
    
</div>
